header{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    background-color: #f3c0c0;
    border: 2px solid #f1becdb1;
    box-shadow: 0 4px 10px rgba(232, 138, 138, 0.329);
    align-items: center;
    justify-content:space-evenly;
    padding: 15px;
    max-width: 3000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;

}
.navheader{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.footer{
    text-align: center;
    background-color: #f3c0c0cb;
    border-top: 2px solid #f1becdb1;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    margin-top: 300px;
    display: flex;
    flex-direction: column;

}
