.search-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
#searchInput{
    padding: 10px;
    width: 250px;
}
#searchBtn{
    cursor: pointer;
}
.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
}
.btnprimary{
    font-size: 16px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    display: block;
    width: 200px;
    text-align: center;
}
.btnprimary:hover,
.btnprimary:active {
    color: #fceaea;
    background-color: #c56471a7;
    box-shadow: 0 4px 10px rgba(174, 101, 101, 0.422);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}