.visit, .website, .openingtimings, .feedbackform{
    margin-bottom: 100px;
}
.timing{
    text-align: center;
}
.bookstore{
    width: 400px;
}
.openingtimings{
    font-size: large;
    color: cornflowerblue;
}
.holiday{
    color: red;
}
ul{
    list-style: none;
}
.container{
    background-color: floralwhite;
    width: 1000px;
    padding: 40px;
    border-radius: 30px;
}
.textarea{
    resize:none;
    width: 100%;
    height: 500px;
    font-size: 16px;
    padding: 30px;
    border: solid 5px black;
}
.counter-container p{
    font-size: 20px;
    color: darkblue;
}
.total-counter{
    color: green;
}
.remaining-counter{
    color: cadetblue;
}
.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
}
.btnprimary{
    font-size: 16px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    display: block;
    width: 200px;
    text-align: center;
}
.btnprimary:hover,
.btnprimary:active {
    color: #fceaea;
    background-color: #c56471a7;
    box-shadow: 0 4px 10px rgba(174, 101, 101, 0.422);
}