

.visit, .website, .openingtimings, .feedbackform{
    margin-bottom: 100px;
}
.timing{
    text-align: center;
}
.openingtimings{
    font-size: large;
    color: cornflowerblue;
}
.holiday{
    color: red;
}
ul{
    list-style: none;
}
.counter-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}
.textarea{
    resize:none;
    width: 100%;
    height: 500px;
    font-size: 16px;
    padding: 30px;
    border: solid 5px black;
}
.counter-container p{
    font-size: 20px;
    color: darkblue;
}
.total-counter{
    color: green;
}
.remaining-counter{
    color: cadetblue;
}
.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    justify-content: center;
}
.btnprimary{
    font-size: 16px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    justify-content: center;
    cursor:pointer;
}
.btnprimary:hover,
.btnprimary:active {
    color: #fceaea;
    background-color: #c56471a7;
    box-shadow: 0 4px 10px rgba(174, 101, 101, 0.422);
}