
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family:cursive;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 50px;
}
.login-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-box text{
    padding: 20px;
    margin: 20px;
    width: 250px;
}
.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
}
.btnprimary{
    font-size: 16px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    display: block;
    width: 200px;
    text-align: center;
}
.btnprimary:hover,
.btnprimary:active {
    color: #fceaea;
    background-color: #c56471a7;
    box-shadow: 0 4px 10px rgba(174, 101, 101, 0.422);
}
