.home{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.home p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.home h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}